<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rs Lang - Audio</title>
</head>

<body>
    <div class="a_start">
        <h1>Аудиовызов</h1>
        <p>Тренировка Аудиовызов развивает понимание иностранных слов на слух.<br>
            Используй кнопки 1,2,3,4,5 для ответа. Удачной игры!
            <br><br>
            Перед началом игры можно изменить <a class="a_settings-link" href="">Настройки</a>.</p>
        <div class="a_settings hidden">
            <div>
                <label for="a_difficulty">Уровень сложности:</label>
                <input type="number" min="1" max="6" value="1" id="a_difficulty" class="a_difficulty">
            </div>
            <label for="a_words-in-game">В игре использовать слова:</label>
            <div id="a_words-in-game" class="a_words-in-game a_layout-flex">

                <label><input type="radio" id="a_all-words" name="words" value="all"><span>все</span></label>
                <label><input type="radio" id="a_known-words" name="words" value="known"
                        checked><span>изученные</span></label>
                <label><input type="radio" id="a_unknown-words" name="words" value="unknown"><span>новые</span></label>
            </div>
            <button class="a_close-button">Ок</button>
        </div>
        <button class="a_start-button">Начать</button>
    </div>
    <div class="a_game hidden">
		<div class="a_image">
			<img class="a_img" src="./img/blank.jpg" alt="">
          	<p class="a_word">word</p>
		</div>
		<div class="a_items">
            <p class="a_item a_wrong-answer"> <span class="a_number">1</span>answer</p>
            <p class="a_item"><span class="a_number">2</span>answer</p>
            <p class="a_item"><span class="a_number">3</span>answer</p>
            <p class="a_item"><span class="a_number a_correct-answer">4</span>answer</p>
            <p class="a_item"><span class="a_number">5</span>answer</p>
		</div>
		<div class="a_buttons">
			<button class="a_answer-button">Не знаю</button>
		</div>
	</div>
</body>

</html>
