<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rs Lang</title>
</head>
<body>
  <div id="app">
    <div class="header">
      <h1>RS Lang</h1>
      <nav>
        <li><p>Кол-во слов на сегодня</p> 
          <select>
            <option>10</option>
            <option>30</option>
            <option>50</option>
          </select>
        </li>
        <li><p>Словарь </p>
          <select>
            <option><p>"Изучаемые слова"</p></option>
            <option><p>"Сложные слова"</p></option>
            <option><p>"Удалённые слова"</p></option>
          </select>
        </li>
        <li><p>Статистика</p></li>
        <li><p>О команде</p></li>
      </nav>
    </div>
    <main class="main">
      <div class="newWords"><p>Новые слова</p></div>
      <div class="games">
        <div class="game"><p>English pazzle</p></div>
        <div class="game"><p>SpeakIt</p></div>
        <div class="game"><p>Саванна</p></div>
        <div class="game"><p>Спринт</p></div>
        <div class="game"><p>Аудиовызов</p></div>
        <div class="game"><p>Своя игра</p></div>
      </div>
    </main>
    <footer></footer> 
  </div>
</body>
</html>