<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RS Lang - Promo</title>
</head>

<body>
    <div class="a_promo">
        <button class="a_return-button">На главную</button>
        <div class="a_app-description">
            <p>
                Добро пожаловать на <span id="a_logo">RS Lang</span> - приложение для изучения английского языка! <br>
                Сайт русскоязычный, поэтому на нем вам точно все будет понятно. Ресурс позволяет учить слова и составлять фразы, тренировать аудирование и произношение и т. п. <br>
                Однако мы рекомендуем сделать упор именно на изучении новых слов. Начинающим важно сформировать
                приличный словарный запас, чтобы впоследствии строить из этих слов предложения.
                Для этого идеально подойдет основная часть приложения, которая использует методику интервального
                повторения для лучшего результата.
                А с мини-играми учиться будет весело и интересно!
            </p><br>
        </div>

        <div class="a_presentation"></div>
        <h2>Bидео Презентация</h2>
        <p>Чтобы Вам было легче ориентироваться на сайте, мы подготовили для Вас видео:</p>
        <div>
            <video class="a_video" controls>
                <source id="a_video" src="../components/a_assets/promoVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="a_team"></div>
        <h2>Наша команда:</h2>

        <div class="a_team-container">
            <div class="a_member">
                <img id="a_denis" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Денис</h3>
                    <p class="a_member-description">
                        Основная игра,<br>English puzzle
                    </p>
                </div>
            </div>
            <div class="a_member">
                <img id="a_natalia" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Наталья</h3>
                    <p class="a_member-description">
                        Спринт
                    </p>
                </div>
            </div>
            <div class="a_member">
                <img id="a_valentin" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Валентин</h3>
                    <p class="a_member-description">
                        Саванна
                    </p>
                </div>
            </div>
            <div class="a_member">
                <img id="a_tanya" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Татьяна</h3>
                    <p class="a_member-description">
                        Аудиовызов,<br>Промо-страница
                    </p>
                </div>
            </div>
            <div class="a_member">
                <img id="a_alexandr" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Александр</h3>
                    <p class="a_member-description">
                        Своя игра
                    </p>
                </div>
            </div>
            <div class="a_member">
                <img id="a_andrei" class="a_img" src="" alt="">
                <div class="a_member-container">
                    <h3 class="a_member-headline">Андрей</h3>
                    <p class="a_member-description">
                        ?
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>