<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://discourse.disneyheroesgame.com/uploads/default/original/2X/0/07eed98242213b10b42fee60d7a84d04bc2f7259.jpeg" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <title>Rs Lang</title>
</head>
<body>
  <div id="app_savannah">
    <a href="index.html"><button class="beginning">В начало</button></a>
    <main class="savannah_main"></main>
  </div>
</body>
</html>