$first-background-color: #0099ae;
$second-background-color: #00bf82;
$shadow-color: #026b7969;
$header-color: #6cffde;
$text-color: #ffffff;
$button-color: #00c49d;
$button-wrong-color: #FF6400;
$button-hover-color: #00c2b2;
$button-hover-wrong-color: #ff6600;