#app {
  font-family: Calibri;
  background: linear-gradient(180deg,#bf9200,#ae3100 100%,#fff 0,#fff);
  position: relative;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  animation: fadeIn ease 2s;
}

li {
  list-style-type: none;
}

.results {
  padding: 10vw 60px 0;
  display: flex;
  justify-content: space-around;

  .savannah_result {
    color: #fff;
    padding: 20px;
    font-size: 32px;

    li {
      font-size: 20px;
      padding: 10px;
      display: flex;
      align-items: center;

      p {
        padding: 0 20px;
      }
      
      .voice {
        cursor: pointer;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    padding: 40px 20px;
  }

  .savannah_game {

    .currentWord {
      margin: 20px 0;
      padding: 10px;
    }
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

