#app {
  background: linear-gradient(180deg,#bf9200,#ae3100 100%,#fff 0,#fff);
  position: relative;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}
.main {
  display: flex;
  padding: 100px 60px;
  color: black;
  align-items: flex-start;

  .newWords {
    padding: 60px 40px;
    width: 70vw;
    background-color:white;
    font-size: 52px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
  }

  .games {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    .game {
      width: 150px;
      height: 150px;
      margin: 0 20px 20px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 20px;
      border: 2px solid black;
      cursor: pointer;
    }
  }

  .savannah_result {
    color: #fff;
    padding: 20px;
    font-size: 32px;

    li {
      font-size: 20px;
      padding: 10px;
      list-style: square outside;
    }
  }
}

@media (max-width: 500px) {
  .main {
    padding: 40px 20px;
  }

  .savannah_game {

    .currentWord {
      margin: 20px 0;
      padding: 10px;
    }
  }
}

